# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
!terraform.tfvars.example

# Crash log files
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

 # Ansible files
ansible/inventory/hosts.ini
ansible/group_vars/all.yml
ansible/group_vars/provisioning.yml
ansible/group_vars/vault.yml
!ansible/group_vars/*.example
*.retry
.vault_pass
.vault_pass.sh


/srv/
.idea/