# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
!terraform.tfvars.example

# Crash log files
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

 # Ansible files
infrastructure/ansible/inventory/hosts.ini
infrastructure/ansible/group_vars/gitlab_servers.yml
infrastructure/ansible/group_vars/provisioning.yml
infrastructure/ansible/group_vars/vault.yml
!ansible/group_vars/*.example
*.retry
.vault_pass


/infrastructure/srv/
.idea/
.DS_Store
.vscode/
*.log
.env