services:
    trivy:
      image: aquasec/trivy:0.67.2
      container_name: trivy-server
      restart: unless-stopped
      ports:
        - "9000:8080"
      volumes:
        - trivy_cache:/root/.cache/trivy
      networks:
        - lab_network
      command: "server --listen 0.0.0.0:8080"

   caddy:
      image: caddy:2.10.2
      container_name: lab-caddy
      restart: unless-stopped
      ports:
        - "80:80"
        - "443:443"
      volumes:
        - ./Caddyfile:/etc/caddy/Caddyfile
        - caddy-data:/data
        - caddy-config:/config
      networks:
        - lab_network
      depends_on:
        - trivy

volumes:
    caddy-data:
    caddy-config:

networks:
    lab_network:

